name: WebRTC iOS SDK CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build-sample-app:
    strategy:
      matrix:
        config: [
          {mac_ver: "11", xc_ver: "13.2.1", os: "15.2", iphone_ver: "13"},
          {mac_ver: "12", xc_ver: "13.4.1", os: "15.5", iphone_ver: "13"},
          {mac_ver: "13", xc_ver: "14.3", os: "16.4", iphone_ver: "14"}
        ]
    runs-on: macos-${{ matrix.config.mac_ver }}
    steps:
      - name: Git - Checkout
        uses: actions/checkout@master
      - name: Setup - Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.config.xc_ver }}.app
      - name: Install dependencies
        run: |
          cd Swift
          pod setup
          pod install --repo-update
      - name: XCode Build
        run: |
          xcodebuild clean build -workspace Swift/AWSKinesisVideoWebRTCDemoApp.xcworkspace \
          -scheme AWSKinesisVideoWebRTCDemoApp \
          -sdk iphoneos \
          -destination 'platform=iOS Simulator,OS=${{ matrix.config.os }},name=iPhone ${{ matrix.config.iphone_ver }}' \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED="NO" \
          CODE_SIGN_ENTITLEMENTS="" \
          CODE_SIGNING_ALLOWED="NO"
  run-unit-tests:
    strategy:
      matrix:
        config: [
          {mac_ver: "11", xc_ver: "13.2.1", os: "15.2", iphone_ver: "13"},
          {mac_ver: "12", xc_ver: "13.4.1", os: "15.5", iphone_ver: "13"},
          {mac_ver: "13", xc_ver: "14.3", os: "16.4", iphone_ver: "14"}
        ]
    runs-on: macos-${{ matrix.config.mac_ver }}
    steps:
      - name: Git - Checkout
        uses: actions/checkout@master
      - name: Modify constants
        run: sed -i '' 's/Unknown/USWest2/g' Swift/KVSiOSApp/Constants.swift
      - name: Setup - Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.config.xc_ver }}.app
      - name: Install dependencies
        run: |
          cd Swift
          pod setup
          pod install --repo-update
      - name: XCode Test
        run: |
          set -o pipefail && xcodebuild clean test -workspace Swift/AWSKinesisVideoWebRTCDemoApp.xcworkspace \
          -scheme AWSKinesisVideoWebRTCDemoApp \
          -sdk iphoneos \
          -resultBundlePath TestResults \
          -enableCodeCoverage YES \
          -destination 'platform=iOS Simulator,OS=${{ matrix.config.os }},name=iPhone ${{ matrix.config.iphone_ver }}' \
          '-only-testing:AWSKinesisVideoWebRTCDemoAppTests' | xcpretty
      - name: Publish results
        uses: kishikawakatsumi/xcresulttool@v1
        with:
          title: Test results (OS ${{ matrix.config.os }})
          path: TestResults.xcresult
          upload-bundles: never
        if: success() || failure()
